<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="NsiContext" connectionString="metadata=res://*/NsiContext.csdl|res://*/NsiContext.ssdl|res://*/NsiContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nsidatabase.database.windows.net;initial catalog=nsidev;persist security info=True;user id=nsiadmin;password=Nsi@2018!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>