<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="Database"
            name="database"
            dbProvider="sqlserver"
            connectionString="metadata=res://*/NsiContext.csdl|res://*/NsiContext.ssdl|res://*/NsiContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nsidatabase.database.windows.net;initial catalog=nsidev;persist security info=True;user id=nsiadmin;password=Nsi@2018!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            commandType="Text"
            commandText="insert into [Logging].[log] (
                          MachineName, Logged, Level, Message,
                          Callsite, Exception
                          ) values (
                          @MachineName, @Logged, @Level, @Message,
                          @Callsite, @Exception
                          );">

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info"  writeTo="database"/>
  </rules>
</nlog>
